/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --white-green: #F1FFF6;
  --green: #24E5A3;
  --blue-green: #5EF4D6;
  --blue: #4143B1;
  --navy-black: #221727;
}

body {
  box-sizing: border-box;
  font-size: 14px;
  background-image: url("./images/mintbean-dome.png");
  background-position-x: center;
  background-size: 260%;
  align-self: center;
  font-family: 'Rubik', sans-serif;
}


header {
  width: 100%;
  background-color: var(--navy-black);
}

header ul {
  list-style: none;
  overflow: hidden;
}

header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: var(--white-green);
  text-align: center;
}

header .logo {
  display: block;
  float: left;
  padding: 10px 20px;
}

/* menu */
header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

header .menu-icon .navicon {
  background: var(--green);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 1.2rem;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: var(--green);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 5px;
}

header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
  max-height: 270px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

section {
  margin-top: 11%;
}

.card {
  height: 500px;
  border: solid var(--green) 2px;
  border-radius: 2%;
  margin: 5%;
  background-color: rgba(34, 23, 39, 0.8);
  padding: 8%;
}

h1 {
  font-family: 'Viga', sans-serif;
  text-transform: uppercase;
  font-size: 2.1rem;
  color: var(--white-green);
  justify-content: left;
  line-height: 1.5;
}

p {
  font-family: 'Rubik', sans-serif;
  color: var(--white-green);
  font-weight: 300;
  justify-content: left;
  line-height: 2;
  font-size: 1rem;
}

button {
  background-color: var(--green);
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
  display: inline-block;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

button:hover,
button:focus {
  background: var(--blue-green);
}

@media (min-width: 768px) {
  body {
    background-position-x: center;
    background-size: 100%;
  }

  header li {
    float: left;
  }

  header li a {
    padding: 20px 30px;
  }

  header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  header .menu-icon {
    display: none;
  }

  li button {
    margin: 10px;
  }

  section {
    margin: 0;
  }

  .card {
    margin: 0;
    float: left;
    width: 50%;
  }
}

